<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        
            body{
                text-align: center;
            }
        
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yT downloader</title>
</head>
<body>
    <h1>yT downloader</h1>
    <h1>WELCOME</h1>
    <form action="/download">
        <input name="url" type="text" placeholder="paste link here">
        <br>
        <label for="type">type</label>
        <select name="type" id="type">
            <option value="audio">audio</option>
            <option value="video">video</option>
        </select>
        <br>
        <input type="submit" placeholder="download">
    </form>
</body>
</html>
